html, body {
    margin: 0;
    height: 100%;
}

.my-h1 {
    font-size: 18px;
}
.my-a:link {
    text-decoration: none;
    color: #0D0000;
}

.my-a:visited {
    text-decoration: none;
    color: #0D0000;
}

#container {
    position: relative;
    height: 100%;
    width: 100%;
    margin: 0 auto;
}

.custom-title {
    color: #0D0000;
}

.lato-text-300 {
    font-family: 'Lato' !important;
    font-style: normal;
    font-weight: 300;
}

.lato-text-900 {
    font-family: 'Lato' !important;
    font-style: normal;
    font-weight: 400;
}

.custom-p {
    font-size: 18px;
    color: #403C40;
}

.more-content span {
    display: none;
}

header img {
    position: relative;
    display: inline-block;
}

header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

header ul li {
    display: inline-block;
}

footer {
    margin: 20px;
    align-items: center;
    bottom: 0;
    background-color: lightgray;
}

footer div {
    width: 100px;
    display: inline-block;
}

/*header*/

div#icon img {
    width: 60px;
    height: 60px;
}

/*blog entry*/
#blog-container {
    margin: 100px auto;
    width: 50%;
}

.blog-entry {
    text-align: justify;
}

#main-photo {
    width: 200px;
    height: 300px;
    display: inline-block;
    top: 100px;
}

#main-text {
    margin: 0;
    display: inline-block;
    width: 300px;
    height: 300px;
}

/*illustration columns*/

#columns ul {
    list-style-type: none;
}

.post {
    margin: 5px;
}

#column-1 {
    float: left;
}

#column-2 {
    float: left;
}

#column-3 {
    float: left;
}
/*menu*/

.circle {
    width: 50px;
    height: 50px;
    background: red;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    text-align: center;
}

/*upload*/

.img-illustration {
    position: static;
    width: 200px;
}

#upload-form {
    display: inline-block;
    text-align: justify;
    width: 200px;
    height: 200px;
}

.images-container {
    position: relative;
    margin: 0 auto;
}

.image-subcontainer {
    display: inline-block;
    margin: 5px;
}

.warning {
    color: #CF0000;
    font: Lato Helvetica Neue ;
    font-size: 12px;
}

img#image {
    position: absolute;
    display: none;
    height: 25px;
    width: 25px;
}
