body {
    background-color: #F3F4E4;
}

#upload-form {
	margin: 0 auto;
}

#upload {
    color: #F3C93A;
    position: absolute;
    right: 20px;
    width: 300px;
}

.image-container {
    position: relative;
	width: 800px;
}
.img {
	float: right; 
}
.file-size {
	color: #39C1D8;
}

.unit {
	color: #39C1D8;
}

.title {
    color: #39C1D8;
}