body {
    background-color: #F3F4E4;
}

#upload-form {
	margin: 0 auto;
  text-align: left;
}

#upload {
    color: #E8E555;
    position: absolute;
    border: 1px solid;
    width: 330px;
    left: 600px;
    display: inline-block;
}

.images-container {
    position: relative;
	width: 500px;
    display: inline;
}

.image-subcontainer {
    float: left;
    border: 5px solid #E8E555;
}

.file-size {
	color: #39C1D8;
}

.unit {
	color: #39C1D8;
}

.title {
    color: #39C1D8;
}