.img-illustration {
    position: static;
    height: 200px;
}

#upload-form {
    display: inline-block;
    text-align: justify;
    width: 200px;
    height: 200px;
}

.images-container {
    position: relative;
    margin: 0 auto;
}

.image-subcontainer {
    display: inline-block;
    margin: 5px;
}

.warning {
    color: #CF0000;
    font: Lato Helvetica Neue ;
    font-size: 12px;
}

img#image {
    position: absolute;
    display: none;
    height: 25px;
    width: 25px;
}
