<div class="blog-entry">
  <h1 class="lato-text-900 my-h1"> Grammarly is a pretty grammar checker</h1>
  <p><a href="http://www.grammarly.com/">Grammarly website</a></p>
  <p>Some time ago I subscribed to the Grammarly fan page on Facebook,
  because they write quite amusing and motivating posts for those who like their English
  to be crystal clear from grammatical errors. However, I had never tried it in
  action until the moment when I had to write a very important email.
  I started it seriously. </p>

  <p>I went to their website to check spelling, expecting a text field where I could insert the text, but as
  I was using Google Chrome, the web page suggested me to install a plugin. So I did.</p>

  <p>I must say I was impressed by the result. That thing is the kind of product you want to
  recommend to your friends, I thought, or just to write a blog post about.
  The spell checker is extremely precise.
  </p>

  <ul>
    By using it a little bit more I discovered the following:
    <li>it analyzes a sentence structure and corrects misspelled words</li>
    <li>it marks wrong punctuation</li>
    <li>it alerts when articles are missing - is very important for me because my native language doesn't have
      articles and it is my main and usual struggle point</li>
    <li>it makes enhancement of words</li>
    <li>it notices formatting of text</li>
    <li>it checks your text for plagiarism - didn't expect that, hah?</li>
  </ul>

  <ul>
    Currently, I see only two direction for improvements:
    <li>the plugin slows down Google Chrome</li>
    <li>no API</li>
  </ul>

  <p>Of course, not everything comes for free. If you want to use complex words enhancement
    or punctuation check you will have to subscribe. There are different subscription plans.
  Although, for users from Ukraine they could offer a special price ;)</p>
  <p>Nevertheless, well done, Grammarly!</p>


  <p>PS. This entry has 10 writing issues: <span class="red-number lato-text-900">6</span> word choice,
    <span class="red-number lato-text-900">1</span> word order,
    <span class="red-number lato-text-900">1</span> compound sentence punctuation,
  <span class="red-number lato-text-900">1</span> improper formatting, and whatever it means,
  <span class="red-number lato-text-900">1</span> use of colloquial phrases.</p>
</div>
