<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
     "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
    <html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <link rel="stylesheet" href="CSS/my-style.css" type="text/css" media="screen, projection" />
    <head> 
      <title> My favpics </title>
    </head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <body>

    <!-- Form to upload an image or another file -->
      <h1> I Upload Here  </h1>
     <p><form id="upload-form" action="/" method="post" enctype="multipart/form-data" style="text-align:center" >
     <input type="file" name="file">
     <input type="submit" value="Upload"> 

     </form></br></p>
    <div class="container"> 
    <!-- Form to upload an image or another file -->
    <img src = 'images/10335742_10203369858303809_426889914_n.jpg' alt = 'test' height='100'/>
    "<img src = 'images/ED-AK778_nano_G_20100107211804.jpg' alt = 'ED-AK778_nano_G_20100107211804.jpg' height='100'/>"
          <%= list_images "./public/images" %>
      </div>
    </body>
    </html>