<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="https://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <title>zvisno</title>
      <meta name="description" content="Designed and implemented. I will work on the content, features and design. The design of the web site in the future might seam somewhat strange for you or even creepy but the purpose for this project is to experiment not to go mainstream.">
        <link rel="shortcut icon" href="images/icon.png">
        <link rel="stylesheet" href="CSS/layout.css" type="text/css">
        <link href='https://fonts.googleapis.com/css?family=Lato:100normal,100italic,300normal,300italic,400normal,400italic,700normal,700italic,900normal,900italic&subset=all' rel='stylesheet' type='text/css'>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script src="scripts/app.js"></script>

    </head>

    <body>
        <header>
          <ul>
            <li><div id="icon">
              <a href="/">
                <img src="images/icon.png">
              </a>
            </div></li>
            <li><div class="circle"><a class="my-a lato-text-300" href="/start">:)</a></div></li>
            <li><div class="circle"><a class="my-a lato-text-300" href="/upload">hobby</a></div></li>
          </ul>


        </header>
        <div id="container">
            <div id="blog-container">
              <%=
                erb = ERB.new(File.read(item))
                erb.result()
              %>
            </div>
        </div>
        <footer class="lato-text-300">

        </footer>
        <img id="image" src="images/bg_fav.png">
    </body>
</html>