<div class="blog-entry">

  <img id="main-photo" src="http://s3.amazonaws.com/brnzk/IMG_6944.jpg">
  <p id="main-text" class="lato-text-300">

    My name is Yuliya Brynzak. I came from Ukraine to Berlin to work for
    a local startup in 2012. I speak four languages.
    I do not like long phone calls. I like people and their opinions.
    I have an older brother, who taught me to read when I was 4.
    I like nicely visualised information.
    I can draw and I would like to illustrate a book. I love wearing dresses.
  </p>

</div>
