<div class="blog-entry">
  <img id="main-photo" src="">
  <p id="main-text" class="lato-text-300"> My name is Yuliya Brynzak.
    I work as a Sowftware Test Engineer. Agile experiense and manymore things.
  I have few hobbies and some of them are drawing. I love it. Please contact me
  if you feel like and let's start communication. I would like to fill this space with text, words, images,
    senses. I love making movies and you can see some of them on this website. Please feel like home.</p>
</div>
